<div class="container">
    <div class="row">
        <div class="col s12 m4">
            <div class="card">
                <div class="card-image">
                    <img src="https://cafeptthumb-phinf.pstatic.net/MjAxNzEwMjdfMjMg/MDAxNTA5MDM4NzMxMTU0.8TYoTYdkE4mtbQD8V7__sycVafYLSKZTDB3yjE3rA_Ig.mGJ2y0UoGPn-vM4rYwYuKXNmnwMR80n8AaF1HUwyBwAg.JPEG.ddaa0062/KakaoTalk_Photo_2017-10-27-01-00-54.jpeg?type=w740" />
                </div>
                <div class="card-content">
                    <div class="card-title"><%= current_user.name %></div>
                    <p>이메일 : <%= current_user.email %></p>
                    <p>올린 글 개수 : <%= @posts_count %></p>

                    <%= link_to new_post_path do %>
                        <button class="btn">글 쓰기</button>
                    <% end %>
                </div>
            </div>
        </div>
        <div class="col s12 m8">
            <% @posts.each do |post| %>
                <%= render partial: "post", object: post %>
            <% end %>
        </div>
    </div>
</div>